.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login-container {
  display: flex;
  height: 100vh;
}

h1 {
  padding-top: 80px;
  font-size: 35px;
}
p {
  color: white;
  padding-top: 50px;
  font-size: 19px;
  font-weight: bold;
}

.small-text-login {
  font-weight: lighter;
  font-size: 15px;
}

.background-image {
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.green-container {
  flex: 1;
  background-color: #043649;
  color: #d4b0b5;
  padding: 20px;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  flex-direction: column;
}

/* .input-container {
  
} */

label {
  margin-bottom: 5px;
}

.sign-up-button {
  width: 153px;
  height: 40px;
  margin-left: 90px;
  border-radius: 10px;
  background-color: #9d775c;
  border: solid 1px white;
}

/* Page 2 starts here */

.budget-container {
  background-color: #043649;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.navbar {
  background-color: #9d775c;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
}

.budget-title {
  margin-top: 20px;
}

.budget-form {
  margin-top: 20px;
}

.input-container {
  margin-bottom: 10px;
}

.category-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-categories,
.right-categories {
  width: 48%;
}

.save-button {
  margin-top: 20px;
  background-color: #9d775c;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.small-text a {
  color: #9d775c;
}

label {
  margin-right: 5px;
}
