.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar-3 {
  background-color: #9d775c;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 20px;

  font-weight: bolder;
}

.nav-item {
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #9d775c;
}

h2 {
  margin-top: 25px;
  font-size: 28px;
  color: #043649;
}

.chart-container {
  border-radius: 50%;
  overflow: hidden;
}

.Doughnut-container {
  position: relative;
  width: 300px; /* Set the width of the container */
  height: 300px; /* Set the height of the container */
}

.Doughnut-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
